/* Stylesheet for About Us */

* {box-sizing:border-box}

body {
	background-color: #E4FFDC;
}

header {
	width: 100%;
	height: 30%;
}

div.header-container {
	background-color: #B1E5A2;
	height: 30%;
	width: 100%;
	padding: 24.5px 0;
}

h1.page-title {
	font-size: 35px;
	height: 30%;
	width: 50%;
	margin: 0 auto;
	font-family: Quicksand;
	text-align: center;
	position: relative;
	color: #327A1C;
	text-transform: uppercase;
	letter-spacing: 7px;
}

nav {
	width: 80%;
	height: 40%;
	position: relative;
	left: 13%;
	top: 100px;
}

nav a {
	font-family: Quicksand;
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 26px 120px;
	text-decoration: none;
	position: relative;
	bottom: 42px;
	height: 40px;
	color: #327A1C;
}

nav a.homebutton {
	border: 2px solid #327A1C;
	margin: 3px;
	border-radius: 6px;
	position: relative;
	right: 20px;
	background-color: #FFFBED;
}

nav a.applybutton {
	border: 2px solid #327A1C;
	margin: 3px;
	border-radius: 6px;
	position: relative;
	left: 20px;
	background-color: #FFFBED;
}

nav a.dogstoadoptbutton {
	border: 2px solid #327A1C;
	margin: 3px;
	border-radius: 6px;
	background-color: #FFFBED;
	padding: 26px 63px;
}

div.FB-logo {
	float: right;
	position: relative;
	bottom: 75px;
	right: 20px;
	font-size: 50px;
}

.FB-logo a:hover {
	color: #3B5998;
}

.FB-logo a {
	color: #327A1C;
}

h2 {
	font-family: Quicksand;
	font-weight: 500;
}

h2.WhatYouCanDo {
	left: 270px;
	width: 210px;
}

p.WhatYouCanDo {
	left: 270px;
	width: 210px;
}

h2.FosterorAdopt {
	text-align: center;
	position: relative;
	color: #FFFBED;
}

h2.WhatWeDo {
	text-align: left;
	color: #327A1C;
}

p {
	font-family: Quicksand;
	font-weight: 300;
	word-spacing: 7px;
	letter-spacing: 1.5px;
	font-size: 14px;
}

p.WhatWeDo {
	text-align: left;
	position: relative;
	width: 220px;
	color: #327A1C;
}

p.FosterorAdopt {
	text-align: center;
	position: relative;
	color: #FFFBED;
}

a.FosterorAdopt {
	text-decoration: none;
	color: #FFFBED;
}

div.WhatWeDo {
	height: 600px;
	width: 550px;
	border-radius: 6px;
	margin: 5px 5px;
	position: relative;
	top: 120px;
	left: 47px;
	display: inline-block;
	padding: 5px 30px;
	background-image: url(./ABOUTUS3.jpg);
	background-size: 110%;
}

div.WhatYouCanDo {
	height: 600px;
	width: 550px;
	border-radius: 6px;
	margin: 5px 5px;
	float: right;
	position: relative;
	top: 120px;
	right: 5px;
	padding: 5px 30px;
	background-image: url(./ABOUTUS1.jpg);
	background-size: 112%;
}

div.FosterorAdopt {
	height: 500px;
	width: 1160px;
	border-radius: 6px;
	margin: 40px auto;
	position: relative;
	top: 120px;
	padding: 5px 30px;
	background-image: url(./ABOUTUS2.jpg);
	background-size: 100%;

}

div.firsttext {
	opacity: 0;
	border-radius: 6px;
	height: 550px;
	width: 250px;
	position: relative;
	top: 20px;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

div.WhatWeDo:hover > .firsttext {
    opacity:1;
    width:250px;
    height:270px height:auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 2px;
    display:block;
    background:rgba(255, 255, 255, 0.4)
}

div.secondtext {
	opacity: 0;
	border-radius: 6px;
	height: 550px;
	width: 250px;
	position: relative;
	text-align: right;
	float: right;
	color: #FFFBED;
	-webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

div.WhatYouCanDo:hover > .secondtext {
    opacity: 1;
    width:250px;
    height:520px;
    position: relative;
    top: 35px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 2px;
    display: block;
    background:rgba(255, 255, 255, 0.4)
}

