/* Stylesheet for Homepage */

html {
	background-image: url("seapup.jpg");
	background-size:cover;
	background-position: 
	background repeat: no-repeat;
	background-position:relative;


}

h1 {
	color:gray;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align:center;
	padding:50px 200px;
	font-family: Quicksand;
}
a {
	text-decoration: none;
	padding: 50px;
	text-transform: lowercase;
	font-family: Quicksand;
	color: gray;
}
.nav {
	text-align:center;
}